@model List<Slider>
@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div>
        <a asp-area="adminPanel" asp-controller="slider" asp-action="Create" class="btn btn-outline-success">Create new slider</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Article
                    </th>
                    <th>
                        Settings
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (Slider slider in Model.OrderByDescending(x => x.Id))
                {
                    <tr>
                        <td>
                            <img style="width:150px !important;height:150px;object-fit:contain;" src="~/assets/img/@slider.Image" alt="@slider.Title" />
                        </td>
                        <td>@slider.Title</td>
                        <td>@slider.Article</td>

                        <td class="d-flex align-items-center" style="height:200px !important;">
                            <div class="me-2">
                                <a asp-area="adminPanel" asp-controller="slider" asp-action="Edit" asp-route-id="@slider.Id" class="btn btn-outline-warning">
                                    <i class="mdi mdi-border-color"></i>
                                </a>
                            </div>
                            <div class="me-2">
                                <a asp-area="adminPanel" asp-controller="slider" asp-action="Remove" asp-route-id="@slider.Id" class="btn btn-outline-danger">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </div>
                            <div>
                                <a asp-area="adminPanel" asp-controller="slider" asp-action="Detail" asp-route-id="@slider.Id" class="btn btn-outline-info">
                                    <i class="mdi mdi-comment-question-outline"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

