@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div>
        <a asp-area="adminPanel" asp-controller="category" asp-action="Create" class="btn btn-outline-success">Create new category</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Settings
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (Category category in Model.OrderByDescending(x => x.Id))
                {
                    <tr>
                        <td>
                            <img style="width:100px !important;height:150px ;object-fit:cover;" src="~/assets/img/@category.Image" alt="@category.Name" />
                        </td>
                        <td>@category.Name</td>
                       
                        <td class="d-flex align-items-center" style="height:200px !important;">
                            <div class="me-2">
                                <a asp-area="adminPanel" asp-controller="category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-outline-warning">
                                    <i class="mdi mdi-border-color"></i>
                                </a>
                            </div>
                            <div class="me-2">
                                <a asp-area="adminPanel" asp-controller="category" asp-action="Remove" asp-route-id="@category.Id" class="btn btn-outline-danger">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </div>
                            <div>
                                <a asp-area="adminPanel" asp-controller="category" asp-action="Detail" asp-route-id="@category.Id" class="btn btn-outline-info">
                                    <i class="mdi mdi-comment-question-outline"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

