@model Backendproject.Models.SpecialOffer

@{
    ViewData["Title"] = "Detail";
}

<div class="main-panel">
    <div class="d-flex justify-content-between container mt-3">
        <h2>Detail</h2>
        <div>
            <a class="text-decoration-none text-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a class="text-decoration-none text-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dd class="col-sm-6">
                <img width="200" src="~/assets/img/@Html.DisplayFor(model => model.Image)" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ButtonUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ButtonUrl)
            </dd>
        </dl>
    </div>
</div>
