@model Clothes

@{
    ViewData["Title"] = "Create";
}

<div class="main-panel container mt-3">
    <div class="d-flex justify-content-between">
        <h2>Create new Clothes</h2>
        <div>
            <a class="text-secondary text-decoration-none" asp-action="Index">Back to List</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MainPhoto" class="control-label"></label>
                    <input asp-for="MainPhoto" class="form-control" />
                    <span asp-validation-for="MainPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DetailPhotos" class="control-label"></label>
                    <input asp-for="DetailPhotos" class="form-control" />
                    <span asp-validation-for="DetailPhotos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiscountPrice" class="control-label"></label>
                    <input asp-for="DiscountPrice" class="form-control" />
                    <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExtraInfo" class="control-label"></label>
                    <input asp-for="ExtraInfo" class="form-control" />
                    <span asp-validation-for="ExtraInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"));"></select>
                </div>
                <div class="form-group">
                    <label for="ColorId" class="control-label">Colors</label>
                    <select id="ColorId" name="ColorId" data-val="true" value="ColorId" data-val-required="The ColorIds field is required." class="form-control">
                        @foreach (Color color in ViewBag.Colors)
                        {
                            <option value="@color.Id">@color.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="SizeIds" class="control-label">Sizes</label>
                    <select class="form-control" multiple="multiple" name="SizeIds" id="SizeIds">
                        @foreach (Size size in ViewBag.Sizes)
                        {
                            <option value="@size.Id">@size.Name</option>
                        }
                    </select>
                </div>

                <button id="check-btn" disabled class="btn btn-outline-info">Submit</button>
                <button id="add-btn" class="btn btn-outline-warning">Add</button>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section ColorSize{
    <script>
        document.querySelectorAll("#SizeIds").forEach(btn => btn.addEventListener("change", (e) => {
            console.log("sa")
            checkBtn.removeAttribute("disabled");
        }));
        @*document.body.addEventListener("change")*@
    //submit
    
    let allChoosenValues = [];
    const checkBtn = document.querySelector("#check-btn");
        checkBtn.addEventListener("click", (e) => {
            e.preventDefault();
        let selected = [];
        const sizeIdsDiv = checkBtn.previousElementSibling;
        const colorIdDiv = sizeIdsDiv.previousElementSibling;

        const selectColor = colorIdDiv.querySelector("select");
        const selectSize = sizeIdsDiv.querySelector("select");

        for (let option of selectSize.options) {
            if (option.selected) {
                
                selected.push(option.value);
            }
        }

        selected.unshift(selectColor.value);
        //hardan split ede bileceyimi bilmek uchun. bunsuz ele verguller olur deye harda bitdiyini bilmek olmur.
      
        let html;
        // size sechmeyibse check ede bilmesin
        console.log(selected);
        //color u verdiyim uchun lengthi default 1 olur.
            if (selected.length != 1) {
                allChoosenValues.push(selected);
                allChoosenValues.push(".")
             html = `<div class="form-group">
                   <input type="" name="ClothesColorSizeValues" value="${allChoosenValues}" />
                </div>`
                checkBtn.insertAdjacentHTML("beforebegin", html);
                checkBtn.setAttribute("disabled", "");
            }
            @*else {
                html = `<div class="form-group alert alert-danger"> <p class="lead">Please choose at least 1 size</p></div>`
                checkBtn.insertAdjacentHTML("beforebegin", html);
        }*@
         
            
    })

    // add
    
    const addBtn = document.querySelector("#add-btn");
        addBtn.addEventListener("click", (e) => {
            e.preventDefault();
        const html = `<div class="form-group">
                    <label for="ColorIds" class="control-label">Colors</label>
                    <select id="ColorIds" name="ColorIds" data-val="true" data-val-required="The ColorIds field is required." class="form-control">
                     @foreach (Color color in ViewBag.Colors)
	                {
		                 <option value="@color.Id">@color.Name</option>
	                }
                    </select>
                </div>
                <div class="form-group">
                    <label for="SizeIds" class="control-label">Sizes</label>
                    <select  class="form-control" multiple="multiple" name="SizeIds" id="SizeIds">
                        @foreach (Size size in ViewBag.Sizes)
                        {
                                <option value="@size.Id">@size.Name</option>
                        }
                    </select>
                </div>`

            checkBtn.insertAdjacentHTML("beforebegin", html);
          //yeni yaranan sizeId leride gorsun deye
            document.querySelectorAll("#SizeIds").forEach(btn => btn.addEventListener("change", (e) => {
                console.log("sa")
                checkBtn.removeAttribute("disabled");
            }));
    })
    </script>
}
