@model Clothes

@{
    ViewData["Title"] = "Create";
}

<div class="main-panel container mt-3">
    <div class="d-flex justify-content-between">
        <h2>Edit new Clothes</h2>
        <div>
            <a class="text-secondary text-decoration-none" asp-action="Index">Back to List</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">

            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <div class="image my-4">
                        <h3>Main image</h3>
                        <img style="width:200px;"
                             src="~/assets/img/@Model.ClothesImages.FirstOrDefault(p => p.IsMain == true)?.Name"
                             alt="@Model.ClothesImages.FirstOrDefault(p => p.IsMain == true)?.Alternative" />
                    </div>
                    <h3>Detail image</h3>
                    @*<div id="detailContent" class="d-flex">
                @foreach (ClothesImage image in Model.ClothesImages.Where(p => p.IsMain == false))
                {
                    <div style="position:relative" id="@image.Id" class="my-4 imageId">
                        <small class="removeBtn btn btn-danger text-white" style="font-weight:bold;color:crimson;cursor:pointer;position:absolute;right:5px;">X</small>
                        <div class="image ">
                            <img style="width:200px;" src="~/assets/img/@image.Name" alt="@image.Alternative" />
                        </div>
                    </div>
                }
            </div>*@
                    <div class="image d-flex">

                        @foreach (ClothesImage image in Model.ClothesImages.Where(p => p.IsMain == false))
                        {
                            <div style="position:relative;" class="col-sm-3">
                                <img src="~/assets/img/@image.Name" style="width:100%;height:200px;object-fit:contain">
                                <input type="hidden" name="ImageIds" value="@image.Id">
                                <button style="position:absolute; right:5px" type="button" class="btn btn-danger">X</button>
                                <span class="text-danger" asp-validation-for="ImageIds"></span>

                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MainPhoto" class="control-label"></label>
                    <input asp-for="MainPhoto" class="form-control" />
                    <span asp-validation-for="MainPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DetailPhotos" class="control-label"></label>
                    <input asp-for="DetailPhotos" class="form-control" />
                    <span asp-validation-for="DetailPhotos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClothesInformationId" class="control-label"></label>
                    <select asp-for="ClothesInformationId" class="form-control" asp-items="@(new SelectList(ViewBag.ClothesInformations, "Id", "Definition"));"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"));"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DiscountId" class="control-label"></label>
                    <select asp-for="DiscountId" class="form-control">
                        <option value="">No Discount</option>
                        @foreach (Discount discount in ViewBag.Discounts)
                        {
                            <option value="@discount.Id">@discount.PercentKey</option>
                        }
                    </select>
                </div>
                @foreach (ClothesColor clothesColor in Model.ClothesColors)
                {
                    <div>
                        <div class="form-group">
                            <label for="ColorId" class="control-label">Colors</label>
                            <select id="ColorId" name="ColorId" data-val="true" value="ColorId" data-val-required="The ColorIds field is required." class="form-control">
                                @foreach (Color color in ViewBag.Colors)
                                {
                                    if (color.Id == clothesColor.Color.Id)
                                    {
                                        <option selected value="@color.Id">@color.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@color.Id">@color.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="SizeIds" class="control-label">Sizes</label>
                            <select class="form-control" multiple="multiple" name="SizeIds" id="SizeIds">
                                @foreach (Size size in ViewBag.Sizes)
                                {
                                    if (clothesColor.ClothesColorSizes.Any(c => c.SizeId == size.Id))
                                    {

                                        <option value="@size.Id" selected>@size.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@size.Id">@size.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <button id="submit-btn" class="btn btn-outline-info">Submit</button>
                        <button id="add-btn" class="btn btn-success">Add another color</button>
                        <button id="remove-btn" class="btn btn-outline-danger">Remove</button>


                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        let btns = document.querySelectorAll(".btn-danger")

        btns.forEach(b => {
            b.addEventListener("click", function () {
                b.parentElement.remove();
            })
        })
        
    </script>
}

@section ColorSize{
    <script>
        let addBtns = document.querySelectorAll("#add-btn");
        addBtns.forEach(btn => btn.setAttribute("disabled", ""))
    //submit
        let allChoosenValues = [];
        let submitBtns = document.querySelectorAll("#submit-btn");
        let colorsRemove = document.querySelectorAll("#remove-btn")

        colorsRemove.forEach(btn => {
            btn.addEventListener("click", function (e) {
                e.preventDefault();
                btn.previousElementSibling.previousElementSibling.previousElementSibling.remove();
                btn.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.remove();
            })
        })


        document.addEventListener("click", (e) => {
             submitBtns = document.querySelectorAll("#submit-btn");
            addBtns = document.querySelectorAll("#add-btn");
            colorsRemove = document.querySelectorAll("#remove-btn")
        })

        //submits
        submitBtns.forEach(btn => btn.addEventListener("click", (e) => {
            e.preventDefault();
            let selected = [];
            const sizeIdsDiv = btn.previousElementSibling;
            const colorIdDiv = sizeIdsDiv.previousElementSibling;
            const currRemoveBtn = e.target.nextElementSibling.nextElementSibling;
            const currAddBtn = e.target.nextElementSibling;
            const selectColor = colorIdDiv.querySelector("select");
            const selectSize = sizeIdsDiv.querySelector("select");

            @*currRemoveBtn.setAttribute("disabled", "");*@
            currAddBtn.removeAttribute("disabled");

            for (let option of selectSize.options) {
                if (option.selected) {
                    selected.push(option.value);
                }
            }

            selected.unshift(selectColor.value);
            //hardan split ede bileceyimi bilmek uchun. bunsuz ele verguller olur deye harda bitdiyini bilmek olmur.
            allChoosenValues.push(selected);
            allChoosenValues.push(".")
            let html;
            // size sechmeyibse check ede bilmesin
            console.log(selected);
            //color u verdiyim uchun lengthi default 1 olur.
            if (selected.length != 1) {
                html = `<div class="form-group">
                   <input type="hidden" name="ClothesColorSizeValues" value="${allChoosenValues}" />
                </div>`

            } else {
                html = `<div class="form-group alert alert-danger"> <p class="lead">Please choose at least 1 size.Refresh the site to do it again.</p></div>`
            }
            btn.insertAdjacentHTML("beforebegin", html);

        }));

        //adds
         addBtns.forEach(btn => btn.addEventListener("click", (e) => {
            e.preventDefault();
            const currSubmitBtn = e.target.previousElementSibling;
            const currRemoveBtn = e.target.nextElementSibling;
            const html = `<div class="form-group">
                    <label for="ColorIds" class="control-label">Colors</label>
                    <select id="ColorIds" name="ColorIds" data-val="true" data-val-required="The ColorIds field is required." class="form-control">
                     @foreach (Color color in ViewBag.Colors)
	                {
		                 <option value="@color.Id">@color.Name</option>
	                }
                    </select>
                </div>
                <div class="form-group">
                    <label for="SizeIds" class="control-label">Sizes</label>
                    <select  class="form-control" multiple="multiple" name="SizeIds" id="SizeIds">
                        @foreach (Size size in ViewBag.Sizes)
                        {
                                <option value="@size.Id">@size.Name</option>
                        }
                    </select>`

            currSubmitBtn.insertAdjacentHTML("beforebegin", html);
            btn.setAttribute("disabled", "");
             currRemoveBtn.removeAttribute("disabled");
        }));
    </script>
}
