@model List<Clothes>
@{
    ViewData["Title"] = "Index";

}

<div class="main-panel container">
    <div>
        <a asp-area="adminPanel" asp-controller="clothes" asp-action="Create" class="btn btn-outline-success">Create new clothes</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Discount Price</th>
                    <th>Category</th>
                    <th>Colors</th>
                    <th>Sizes</th>
                    <th>Settings</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Clothes clothes in Model.OrderByDescending(x => x.Id))
                {
                    string colors = "";
                    string sizes = "";
                    @*int clothesColorLastId = clothes.ClothesColors.LastOrDefault().ColorId;*@

                    List<ClothesColorSize> clothesColorSizes = ViewBag.ClothesColorSizes;
                    @*clothes.ClothesColors.ForEach(c => colors += $"{c.Color.Name}{(clothesColorLastId != c.ColorId ? ",":"")}");*@
                clothes.ClothesColors.ForEach(c => colors += $"{c.Color.Name},");

                clothesColorSizes = clothesColorSizes
                        .Where(c => clothes.ClothesColors.Any(d => d.Id == c.ClothesColorId)).ToList();

                // OrderBy etmeyimin sebebi index de adlari chixaranda random sirada olanda vergul u sona qoyub evvele qoymaya bilir.
                @*int clothesColorSizesLastId = clothesColorSizes.OrderBy(c=>c.SizeId).LastOrDefault().SizeId;*@
                    @foreach (Size size in ViewBag.Sizes)
                    {
                        if (clothesColorSizes.Any(c=>c.SizeId == size.Id))
                        {
                            //sonuncu da vergul qoymamaq uchun
                            @*sizes += $"{size.Name}{(clothesColorSizesLastId != size.Id ? "," : "")}";*@
                            sizes += $"{size.Name},";

                        }

                    }
                    <tr>
                        <td>
                            <img style="width:150px !important;height:150px;object-fit:contain;"
                                 src="~/assets/img/@clothes.ClothesImages.FirstOrDefault(c=>c.IsMain==true).Name"
                                 alt="@clothes.ClothesImages.FirstOrDefault(c=>c.IsMain==true).Alternative" />
                        </td>
                        <td>@clothes.Name</td>
                        <td>@clothes.Price</td>
                        <td>@clothes.DiscountPrice</td>
                        <td>@clothes.Category.Name</td>
                        <td>@colors</td>
                        <td>@sizes</td>

                        <td class="d-flex align-items-center" style="height:200px !important;">
                            <div class="me-2">
                                <a asp-area="adminPanel" asp-controller="clothes" asp-action="Edit" asp-route-id="@clothes.Id" class="btn btn-outline-warning">
                                    <i class="mdi mdi-border-color"></i>
                                </a>
                            </div>
                            <div class="me-2">
                                <a asp-area="adminPanel" asp-controller="clothes" asp-action="Remove" asp-route-id="@clothes.Id" class="btn btn-outline-danger">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </div>
                            <div>
                                <a asp-area="adminPanel" asp-controller="clothes" asp-action="Detail" asp-route-id="@clothes.Id" class="btn btn-outline-info">
                                    <i class="mdi mdi-comment-question-outline"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

